{% extends 'textbook_exchange/base.html' %}
{% block content %}
<div class="row">
    <div class="col-sm-8">
        <h2>Cart</h2>
        <br>
        <div class="row">
            <div class="col-sm-2">
                <p>Picture</p>
            </div>
            <div class="col-sm-6">
                <p>Description</p>
            </div>
            <div class="col-sm-4">
                <p class="text-right">Price</p>
            </div>
        </div>
        <hr>
        {% for product in cart.productlisting_set.all %}
        <div class="row">
            <div class="col-sm-2">
                <img class="img-fluid" src='{{ product.picture.url }}'>
            </div>
            <div class="col-sm-6">
                <p><b>{{ product.textbook.title }}</b><br>ISBN: {{ product.textbook.isbn }}</p>
            </div>
            <div class="col-sm-4">
                <p class="text-right">${{ product.price}}</p>
            </div>
        </div>
        {% endfor %}
        <hr>
        <div class="row">
            <div class="col-sm-8"></div>
            <div class="col-sm-4">
                <p class="text-right"><b>Total: ${{ cart.subtotal }}</b></p>
            </div>
        </div>

    </div>
    <div class="col-sm-4">
        <h2>Checkout</h2>
        <hr>
        <div id="paypal-button"></div>
    </div>
</div>




<script src="https://www.paypalobjects.com/api/checkout.js"></script>
<script>
paypal.Button.render({
    // Configure environment
    env: 'sandbox',
    client: {
    sandbox: 'AcCaARG0gidap3Y0mCgZtbbdE3sDrYHyHSIBwJ20jwhyGk3MQSBLxpWggOwuOQphYKDLl87wRLek-qE8',
    production: 'demo_production_client_id'
    },
    // Customize button (optional)
    locale: 'en_US',
    style: {
    size: 'small',
    color: 'gold',
    shape: 'pill',
    },

    // Enable Pay Now checkout flow (optional)
    commit: true,

    // Set up a payment
    payment: function(data, actions) {
        var subtotal = parseFloat('{{ subtotal }}');
        var tax = subtotal * 0.05;
        var total = Math.round((tax + subtotal) * 100)/100;
        return actions.payment.create({
            transactions: [{
            amount: {
                total: total.toString(),
                currency: '{{ currency }}',
                details: {
                    subtotal: subtotal.toString(),
                    tax: (Math.round(tax * 100)/100).toString()
                }
            },
            description: 'Textbook purchase from TextEx',
            item_list: {
                items: [
                    {% for product in cart.productlisting %}
                    {% endfor %}
                    {
                        name: '112233445566',
                        description: 'Advanced Software Engineering',
                        quantity: '1',
                        price: subtotal.toString(),
                        tax: (Math.round(tax * 100)/100).toString(),
                        currency: '{{ currency }}',
                    }
                ]
            }
            }]
        });
    },
    // Execute the payment
    onAuthorize: function(data, actions) {
    return actions.payment.execute().then(function() {
        // Show a confirmation message to the buyer
        window.alert('Thank you for your purchase!');
    });
    }
}, '#paypal-button');

</script>
{% endblock %}