{% extends 'textbook_exchange/base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2>Success! {{ user.first_name }}, your order was confirmed succesfully. Please <a href="javascript:print()">save</a> this page for your records.</h2>
            <br>
            <div class="row">
                <div class="col-sm-2">
                    <p class="my-0">Picture</p>
                </div>
                <div class="col-sm-6">
                    <p class="my-0">Description</p>
                </div>
                <div class="col-sm-4">
                    <p class="text-right my-0">Price</p>
                </div>
            </div>
            <hr>
            {% for product in sold_items %}
            <div class="row">
                <div class="col-sm-2">
                    <img class="img-fluid" src='{{ product.picture_url }}'>
                </div>
                <div class="col-sm-6">
                    <p><b>{{ product.textbook.title }}</b><br><span class="text-muted">{{ product.textbook.author_clean }}</span><br><br>Sold by: {{ product.user.first_name }} {{ product.user.last_name }}, {{ product.user.email }}</p>
                </div>
                <div class="col-sm-4">
                    <p class="text-right font-weight-bold">${{ product.price}}</p>
                </div>
            </div>
            <hr>
            {% endfor %}
            <div class="row">
                <div class="col-sm-8"></div>
                <div class="col-sm-4">
                    <p class="text-right"><b>Subtotal: ${{ subtotal }}<br>+ Tax: ${{ tax }}</b></p>
                    <hr>
                    <p class="text-right"><b>Total: ${{ total }}</b></p>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}