{% extends "textbook_exchange/base.html" %}
{% load static %}
{% include 'show_product_listings.html' %}

{% block content %}
<head>
<style>
ul{
	text-align: center;;
}	
.col-4-bg{
	background-color: var(--uva-blue);
}
.sidebar-align {
  display: inline;
}
</style>
</head>
<body>
	<div class="container">
		<div class="row">
			<!-- SIDEBAR -->
			<div class="col-sm-2 col-4-bg">
				<ul class="sidebar-align" style="list-style-type:none;">
					<br>
					<li>
						<a class="btn btn-uva" href="{% url 'exchange:account_page' %}">Dashboard</a>
					</li>
					<br>
					<li>
						<a class="btn btn-uva" href="{% url 'exchange:account_page' %}">Past Posts</a>
					</li>
					<br>
					<li>
						<a class="btn btn-uva" href="{% url 'exchange:account_page' %}">Current Posts</a>
					</li>
					<br>
					<li>
						<a class="btn btn-uva" href="{% url 'exchange:account_page' %}">Messages</a>
					</li>
					<br>
					<li>
						<a class="btn btn-uva"; href="{% url 'account_logout' %}">Sign Out</a>
					</li>
					<br>
				</ul>
			</div>

			<!-- MAIN -->
			<div class='col-sm-10'>
				<h1>{{ user.first_name }} {{ user.last_name }}</h1>
				<h5>{{ user.email }}</h5>
				<h5>Any new messages? Updates?</h5>

				{% if current_post %}
					{% for current_post in current_posts %}
						{{current_post}}
					{% endfor %}
				{% endif %}

				{% if past_post %}
				{% endif %}

			</div>
		</div>
	</div>
</body>
{% endblock content %}
