{% extends 'textbook_exchange/account_base.html' %}
{% load static %} 

{% block inner-content %}
<!-- Name/Email/Header -->
<div class="right-container">
    <div style="background-color: whitesmoke; padding: 10px 10px 10px 18px;">
        <h1 style="margin-bottom: 10px;">{{ user.first_name }} {{ user.last_name }}</h1>
        <h5>{{ user.email }}</h5>
    </div>
    <br/><br/>
    <h1 class="custom-header">Current Posts</h1>

    <!-- POSTS -->
    {% if postSold %}
    	<script>
    		alert("Successfully marked as sold.");
    	</script>
    {% endif %}
    <div class="row">
    {% for post in current_posts %}
        <div class="card text-font" style="width: 15rem;">
            <div class="card-header">
                <img class="card-img-top" src="{{ post.picture.url }}" alt="{{ post.textbook.title }}" style="margin-top: 10px;">
                <h5 class="card-title">{{ post.textbook.title }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ post.textbook.author_clean }}</h6> 
				<h5 class="card-subtitle mt-4 mb-2">${{ post.price }}</h5>
				<form method="GET">
					<a href="{% url 'exchange:edit_post' post.id post.textbook.title_clean %}" class="card-link">edit</a>
					<!-- href="accounts/edit/?listing_id={{post.id}}" -->
				</form>
            </div>
            <div class="card-body">
                <p class="card-subtitle mb-2 mb-4 text-muted" style="font-size: smaller;">Posted: {{ post.published_date }}</p>
                <p class="card-subtitle mb-4">
                    Condition:
                    {% if post.condition == "likenew" %}
                        Like new
                    {% elif post.condition == "verygood" %}
                        Very good
					{% elif post.condition == "good" %}
				Good
                    {% elif post.condition == "acceptable" %}
                        Acceptable
                    {% endif %}
                </p>
                <p class="card-text mb-4">{{ post.comments }}</p>
                <form action="" method="post">
                  {% csrf_token %}
                    <button href="#" name="sold_listing" value="{{ post.id }}" class="btn btn-primary mx-auto d-block" style="width: 40%;">
					  Sold?
					</button>
                  {% csrf_token %}     
                </form>
            </div>
        </div>

	<!-- Modal -->
	<div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content" style="padding: 17px;">
			<div class="modal-header">
				<h5 class="modal-title font-weight-bold" id="exampleModalLongTitle">{{ post.textbook.title }}</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<form action="" method="post">
			{% csrf_token %}
				<div class="modal-body">
					<div class="form-group form-inline">
						<label for="recipient-name" class="col-form-label">Price (USD): &nbsp&nbsp&nbsp</label>
						<input type="number" step=".01" min="0.0" max="500" name="price" class="form-control" value="{{ post.price }}">
					</div>
					<div class="form-group">
					<label class="col-form-label">Condition</label>
						<div class="form-check">
							<input class="form-check-input" type="radio" name="condition" id="likenew" value="likenew" checked>
							<label class="form-check-label" for="likenew">Like new</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="radio" name="condition" id="verygood" value="verygood">
							<label class="form-check-label" for="verygood">Very good</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="radio" name="condition" id="good" value="good">
							<label class="form-check-label" for="good">Good</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="radio" name="condition" id="acceptable" value="acceptable">
							<label class="form-check-label" for="acceptable">Acceptable</label>
						</div>
					</div>
					<div class="form-group form">
						<label class="col-form-label">Comments</label>
						<textarea class="form-control" name="comments" max_length='300'>{{ post.comments }}</textarea>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary" name="edit_listing" value="{{ post.id }}" >Save</button>
				</div>
			</form>
		</div>
		</div>
	</div>

  
	{% endfor %}
	</div>
</div>
  
<script>

$(document).ready(function() {
	function getCookie(name) {
		var value = "; " + document.cookie;
		var parts = value.split("; " + name + "=");
		if (parts.length == 2) 
			return parts.pop().split(";").shift();
	}
	
	if (getCookie("postUpdated")=="True") {
		alert("Post was successfully updated");
		document.cookie = "postUpdated=false";
	} 
});

</script>
{% endblock inner-content %}
