{% extends 'textbook_exchange/account_base.html' %}
{% load static %} 

{% block inner-content %}
<style>
    /* #page-container {
        min-width: 530px;
    } */
    .past-posts-div {
        background-color: #e5e5e5;
    }
</style>

    <h1 class="custom-header mb-4">Past Posts</h1>
    <!-- POSTS -->
    <div class="row p15">
        {% for listing in past_posts %}
        <div class="mb-5 w-100 crd-hidden listing-panel" id="listing" price="{{ listing.price }}" condition="{{ listing.condition }}" style="width: 15rem">
            <div class="card flex-row" style="margin: 0;">
                <div class="card border-0 px-1" style="margin-right: 5px; min-width: 150px;">
                    <a href="{{ listing.picture_url }}" data-type="image" data-toggle="lightbox" data-max-width="700" id="{{ listing.isbn10 }}">
                        <img class="card-img-top img-fluid" src="{{ listing.picture_url }}" alt="{{ listing.textbook.title }}" style="max-width: 200px; border-radius: 0;">
                    </a>
                </div>
                <div class="card-block px-3" style="flex-grow: 1; padding: 10px;">
                    <h5 class="card-title">{{ listing.textbook.title }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ listing.textbook.author_clean }}</h6> 
                    <p class="card-subtitle mt-2 text-muted mb-4" style="font-size: smaller;">{{ listing.sold_date }}</p>                                
                    <p class="card-text mb-1">
                        Condition:
                        {% if listing.condition == "likenew" %}
                            Like new
                        {% elif listing.condition == "verygood" %}
                            Very good
                        {% elif listing.condition == "good" %}
                            Good
                        {% elif listing.condition == "acceptable" %}
                            Acceptable
                        {% endif %}
                    </p>
                    <p class="card-text mb-4">{{ listing.comments }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock inner-content %}
