{% extends "textbook_exchange/base.html" %}
{% load static %}
{% include 'show_product_listings.html' %}

{% block content %}
<head>
<style>
ul{
	text-align: center;;
}	
.col-4-bg{
	background-color: var(--uva-blue);
}
.sidebar-align {
  display: inline;
}
</style>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-sm-2 col-4-bg">
				<ul class="sidebar-align" style="list-style-type:none;">
					<br>
					<li>
						<a class="btn btn-uva"; href="{% url 'exchange:account_page' %}">Dashboard</a>
					</li>
					<br>
					<li>
						<a class="btn btn-uva">Past Posts</a>
					</li>
					<br>
					<li>
						<a class="btn btn-uva">Current Posts</a>
					</li>
					<br>
					<li>
						<a class="btn btn-uva">Messages</a>
					</li>
					<br>
					<li>
						<a class="btn btn-uva"; href="{% url 'account_logout' %}">Sign Out</a>
					</li>
					<br>
				</ul>
			</div>
			<div class='col-sm-10'>
				<h1>{{ user.first_name }} {{ user.last_name }}</h1>
				<h3>{{ user.email }}</h3>
				<h3>Any new messages? Updates?</h3>
				<!-- {% block show_product_listings %}<h3> See all the posts below!</h3>{% endblock %} -->
			</div>
		</div>
	</div>
</body>
{% endblock content %}
