{% extends "textbook_exchange/base.html" %}
{% load static %}

{% block content %}
<style>
	#page-container {
        min-width: 615px;
    }
	@media only screen and (max-width: 770px){
        .grid {
			width: 90vw;
        }
        #content-wrap {
            margin: 0;
            width: 100vw;
        }
    }
</style>
<div class="container">
	<div class="grid">
		<!-- SIDEBAR -->
		<div class="col col-4-bg">
			<ul class="sidebar-align">
				<br>
				<li>
					<a class="btn btn-uva side-btn" href="{% url 'exchange:account_page' %}" style="display: block; border-radius: 0;">
						Dashboard
					</a>
				</li>
				<br>
				<li>
					<a class="btn btn-uva side-btn" href="{% url 'exchange:past_posts' %}" style="display: block; border-radius: 0;">
						Past Posts
					</a>
				</li>
				<br>
				<li>
					<a class="btn btn-uva side-btn" href="{% url 'exchange:messages' %}" style="display: block; border-radius: 0;">
						Messages
					</a>
				</li>
				<br>
				<li>
					<a class="btn btn-uva side-btn"; href="{% url 'account_logout' %}" style="display: block; border-radius: 0;">
						Sign Out
					</a>
				</li>
				<br>
			</ul>
		</div>

		<!-- MAIN -->
		{% block inner-content %}
		{% endblock inner-content %}
	</div>
</div>
{% endblock content %}
