{% extends 'textbook_exchange/account_base.html' %}
{% load static %} 

{% block inner-content %}
<div class="right-container">
    <h1 class="custom-header">Past Posts</h1>
    <!-- POSTS -->
    <div class="row">
        {% for post in past_posts %}
            <div class="card text-font" style="width: 15rem;">
                <div class="card-header">
                    <img class="card-img-top" src="{{ post.picture_url }}" alt="{{ post.textbook.title }}" style="margin-top: 10px;">
                    <h5 class="card-title">{{ post.textbook.title }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ post.textbook.author_clean }}</h6> 
                    <h5 class="card-subtitle mt-4 mb-2">${{ post.price }}</h5>
                </div>
                <div class="card-body">
                    <p class="card-subtitle mb-2 text-muted" style="font-size: smaller;">Posted: {{ post.published_date }}</p>
                    <p class="card-subtitle mb-2 mb-4 text-muted" style="font-size: smaller;">Sold: {{ post.sold_date }}</p>
                    <p class="card-subtitle mb-4">
                        Condition:
                        {% if post.condition == "likenew" %}
                            Like new
                        {% elif post.condition == "verygood" %}
                            Very good
                        {% elif post.condition == "good" %}
                            Good
                        {% elif post.condition == "acceptable" %}
                            Acceptable
                        {% endif %}
                    </p>
                    <p class="card-text mb-4">{{ post.comments }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock inner-content %}
