{% extends 'textbook_exchange/account_base.html' %}
{% load static %} 

{% block inner-content %}

<ul>
    {% for current_post in current_posts %}</li>
        <li style="text-align: left;">{{ current_post.textbook.title }}</li>
        <li style="text-align: left;">{{ current_post.textbook.author }}</li> 
        <li style="text-align: left;">${{ current_post.price }}</li>
        <li style="text-align: left;">{{ current_post.condition }}</li>
        <li style="text-align: left;">{{ current_post.comments }}</li>
    {% endfor %}
</ul>

{% endblock inner-content %}
