{% load static %} 
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="shortcut icon" type="image/x-icon" href="{% static 'textbook_exchange/images/favicon.png' %}" />
        
        <!-- Font: Raleway, Lato:400,700, Nunito Sans -->
        <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Lato&family=Raleway&display=swap" rel="stylesheet">

        <!-- My CSS -->
        <link rel="stylesheet" type="text/css" href="{% static 'textbook_exchange/css/main.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'textbook_exchange/css/listings.css' %}">

        <!-- Bootstrap CSS For Cards/Panels -->
        <!-- (THIS MUST BE BELOW "MY CSS" IMPORTS) -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

        <!-- jS Scripts -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>    
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    
        <!--Autocomplete urls, cant access template tags from external js, so we pass the only one we used-->
        <script>let auto_url = "{% url 'exchange:ajax_autocomplete' %}";</script>
        <script src="{% static 'textbook_exchange/js/autocomplete.js' %}"></script>
        {% if title == "Sell Books" %}
            <script>
                let book_title_id = "{{ form.book_title.id_for_label }}";
                let book_author_id ="{{ form.book_author.id_for_label }}";
                let book_isbn_id = "{{ form.isbn.id_for_label }}";
            </script>
            <script src="{% static 'textbook_exchange/js/sell-autocomplete.js' %}"></script>
        {% endif %}

        {% if title %}
            <title>UVA TextEx: {{ title }}</title>
        {% else %}
            <title>UVA TextEx</title>
        {% endif %}
    </head>
    <body>
        <div id="page-container">
            <!-- NAVBAR -->
            <nav class="uva navbar navbar-expand-lg shadow" id="mainNav" role='navigation'>
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="uva fa fa-bars"></span>
                    </button>
                    <!-- Logo -->
                    <a class="uva navbar-brand mx-auto" href="{% url 'exchange:landing' %}">
                        <img src="{% static 'textbook_exchange/images/Logo1White.png' %}" alt="TextEx" style="height: 55px; margin-right: 25px;"/>
                    </a> 
                    <!-- Search Bar -->
                    <div class="collapse navbar-collapse text-center" id="navbarResponsive">
                        <form class="my-2 my-lg-0 mx-auto nav-search" action="{% url 'exchange:buybooks' %}" method="GET">
                            <div class="input-group">
                                <input name="search" type="text" class="form-control navbar-search" id="search_text" style="background-clip: unset;" placeholder="Search a title, author, class, or ISBN" onkeyup="updateSearch(event, this.value)" autofocus autocomplete="off">
                                <span class="input-group-append navbar-search" type='submit' style="-webkit-appearance: none;"><button type="button" class="btn btn-uva" onclick="updateSearch(event, this.value, 'click')"><i class="fa fa-search my-auto"></i></button></span>
                                <div class="input-group-append" style="width: 100%;">
                                    <ul style="width:100%;" id="results_dropdown" class="cursor-pointer dropdown-menu m-0 p-0" aria-labelledby="dropdownMenu1">
                                        <li id="results_books"><div id="book_results"></div></li>
                                        <li id="results_courses"><div id="course_results"></div></li>
                                        <li id="noresults">
                                            <div class="py-2" style="height: 65px;">
                                                <div class="row px-0 mx-0 pl-2" style="height: 100%;">
                                                    <div class="col-12 align-self-center" style="height: 100%; display: flex; align-items: center;">
                                                        <p class="my-auto"><b><i>No Results Found</i></b></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </form>
                        <!-- Sell, Cart, Login Buttons -->
                        <ul class="navbar-nav mx-auto mx-lg-0 float-lg-right d-block" style="min-width: 245px;">
                            <li class="nav-item d-inline-block"><a class="uva nav-link uva-nav" href="{% url 'exchange:sellbooks' %}">Sell a book</a></li>
                            {% if user.cart %}<li class="nav-item d-inline-block"><a class="uva nav-link uva-nav" href="{% url 'payments:cart' %}"><i class="fa fa-shopping-cart"></i> ({{ user.cart.productlisting_set.all|length }})</a></li>{% endif %}
                            {% block loginlink %}<li class="nav-item d-inline-block"><a class="uva nav-link uva-nav" href="{% if user.is_authenticated %}{% url 'exchange:account_page' %}{% else %}{% url 'exchange:login' %}?login_redirect_target=/{% endif %}">{% if user.is_authenticated %}<i class="fa fa-user-circle-o"></i> {{ user.first_name }}{% else %}Login{% endif %}</a></li>{% endblock %}
                        </ul>
                    </div>
                </div>
            </nav>            

            <!-- CONTENT W/O WRAPPER -->
            {% block nowrapper %}
            {% endblock %}

            <!-- MAIN CONTENT -->
            <div class="container" id="content-wrap">
                {% block content %}
                {% endblock %}
            </div>

            <!-- FOOTER -->
            <footer id="footer">
                <p class="mx-auto" style="margin-top: 1rem !important; margin-bottom: 1rem !important;">
                    © 2020 UVA TextEx 
                    &nbsp;&nbsp; <!-- tab -->
                    &bull;       <!-- dot -->
                    &nbsp;&nbsp; <!-- tab -->
                    <a href="{% url 'exchange:faq' %}" class="uva uva-nav text-font font-weight-bold" style="text-decoration: none;">FAQ</a>
                    &nbsp;&nbsp; <!-- tab -->
                    &bull;       <!-- dot -->
                    &nbsp;&nbsp; <!-- tab -->
                    <a href="{% url 'exchange:contact_us' %}" class="uva uva-nav text-font font-weight-bold" style="text-decoration: none;">Contact Us</a>
                </p>
            </footer>
        </div>
    </body>
</html>
