{% load static %} 
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- My CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'textbook_exchange/main.css' %}">

    {% if title %}
        <title>Textbook Exchange: {{ title }}</title>
    {% else %}
        <title>Textbook Exchange</title>
    {% endif %}
</head>

<nav class="uva navbar navbar-expand-lg shadow" id="mainNav" role='navigation'>
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="uva fa fa-bars"></span>          
        </button>
        <!-- Logo -->
        <a class="uva navbar-brand mx-auto" href="{% url 'exchange:landing' %}">Awesome Textbook Exchange</a>
        <!-- Login/Username -->
        <div class="collapse navbar-collapse text-center" id="navbarResponsive">
            <form class="my-2 my-lg-0 mx-auto" action="/buy/" style="width: 70%;" method="GET">
                    <div class="input-group">
                        <input type="text" class="form-control" id="search_text"
                            placeholder="Search for a book"
                            onkeyup="updateSearch(this.value)" autofocus>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-uva">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                        <div class="input-group-append">
                            <ul id="results_dropdown" class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li id="results_books">
                                    Books
                                    <ul>
                                    </ul>
                                </li>
                                <li id="results_courses">
                                    Courses
                                    <ul>
                                    </ul>
                                </li>
                                <div id="noresults">
                                    <i>No Results Found</i>
                                </div>
                            </ul>
                        </div>
                    </div>
            </form>
            <ul class="navbar-nav mx-auto float-lg-right">
                <li class="nav-item"><a class="uva nav-link font-weight-bold ml-2" href="{% url 'exchange:sellbooks' %}" style="text-decoration:underline;">Or sell a book</a></li>
                {% block loginlink %}<li class="nav-item"><a class="uva nav-link font-weight-bold" href="{% if user.is_authenticated %}{% url 'exchange:account_page' %}{% else %}{% url 'google_login' %}{% endif %}">{% if user.is_authenticated %}{{ user.first_name }}{% else %}Login{% endif %}</a></li>{% endblock %}
            </ul>
        </div>
    </div>
</nav>

<body>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
        function updateSearch(search){
            if(search.length >= 2){
                console.log(search);

                var xmlhttp = new XMLHttpRequest();

                xmlhttp.onreadystatechange = function() {
                    if (xmlhttp.readyState == XMLHttpRequest.DONE) {   // XMLHttpRequest.DONE == 4
                        if (xmlhttp.status == 200) {
                            $('.dropdown-menu').show(); //open the dropdown menu
                            var searchResults = JSON.parse(xmlhttp.responseText);
                            console.log(searchResults);

                            //update dropdown with availible results
                            if(searchResults['books'].length > 0){
                                //console.log("books: " + searchResults['books']);

                                document.getElementById("results_books").style.display = 'inline'; //show header
                                var isbnList = document.getElementById("results_books").getElementsByTagName("ul")[0];

                                isbnList.innerHTML = ''; //remove old list elements

                                for(var i = 0; i < searchResults['books'].length; i++){ //add new elements
                                    var entry = document.createElement('li');
                                    entry.innerHTML = searchResults['books'][i]['title'] + ' <i>' + searchResults['books'][i]['author'] + '</i>';
                                    //entry.appendChild(document.createTextNode(
                                    //    searchResults['books'][i]['title'] +
                                    //    ' <i>' + searchResults['books'][i]['author'] + '</i>')); //simple text element (change to link)
                                    isbnList.appendChild(entry);
                                }
                            }
                            else{
                                document.getElementById("results_books").style.display = 'none'; //hide header
                            }

                            if(searchResults['courses'].length > 0){
                                //console.log("courses: " + searchResults['courses']);

                                document.getElementById("results_courses").style.display = 'inline'; //show header
                                var isbnList = document.getElementById("results_courses").getElementsByTagName("ul")[0];

                                isbnList.innerHTML = ''; //remove old list elements

                                for(var i = 0; i < searchResults['courses'].length; i++){ //add new elements
                                    var entry = document.createElement('li');
                                    entry.appendChild(document.createTextNode(searchResults['courses'][i])); //simple text element (change to link)
                                    isbnList.appendChild(entry);
                                }
                            }
                            else{
                                document.getElementById("results_courses").style.display = 'none'; //hide header
                            }

                            if(searchResults['courses'].length > 0 || searchResults['books'].length > 0){
                                document.getElementById("noresults").style.display = 'none'; //hide no results message
                            }
                            else{
                                document.getElementById("noresults").style.display = 'inline'; //show no results message
                            }
                        }
                        else {
                            console.error("Search autocomplete not availible");
                            $('.dropdown-menu').hide();
                        }
                    }
                };

                xmlhttp.open("GET", "{% url 'exchange:ajax_autocomplete' %}?search="+search, true);
                xmlhttp.send();
            }
            else{
                $('.dropdown-menu').hide();
            }
        };
        {% if search %}
        updateSearch("{{ search }}");
        document.getElementById("search_text").value = "{{ search }}";
        {% endif %}

    </script>
</body>
