{% extends "textbook_exchange/base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-3">
            <!--Filler for alignment-->
        </div>
        <div class="col-9">
            <form>
                <div class="input-group">
                    <input type="text" class="form-control" id="search_text"
                        placeholder="Seach by Title, Author, ISBN, or Course Number">
                    <span class="input-group-append">
                        <button type="button" class="btn btn-uva">Search</button>
                    </span>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <div> <!-- not sure what class to make this div yet -->
                <div id="searchFilters">
                    <div class="card card-body">
                        <div class="row">
                            <div class="col">
                                <h6>Book Quality</h6>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="qualityNew" checked>
                                    <label class="form-check-label" for="qualityNew">
                                      New
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="qualityLikeNew" checked>
                                    <label class="form-check-label" for="qualityLikeNew">
                                        Used - Like New
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="qualityUsed" checked>
                                    <label class="form-check-label" for="qualityNew">
                                        Used
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="qualityBad" checked>
                                    <label class="form-check-label" for="qualityBad">
                                        Bad
                                    </label>
                                </div>
                            </div>
                          </div>
                          <hr>
                          <div class="row">
                            <div class="col">
                                <!-- slider show value source: https://stackoverflow.com/a/18936328 -->
                                <h6 style="display: inline">Max Price:</h6> $<output id="maxPriceOutput">400</output>
                                <input class="form-control" type="range" min="0" max="400" value="400" id="maxPrice" oninput="maxPriceOutput.value = maxPrice.value">
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="col-9">
            <!-- main search bar and filter area-->
            
        </div>
    </div>
</div>

{% endblock content %}