{% extends "textbook_exchange/base.html" %}
{% load static %}

{% block search_largescreen %}
<form class="my-2 my-lg-0 mx-auto nav-search d-none d-sm-block" action="{% url 'exchange:buybooks' %}" method="GET">
    <div class="input-group">
        <input name="search" type="text" class="form-control navbar-search" id="search_text" style="background-clip: unset;" placeholder="Search a book, class, ISBN, or keyword" onkeyup="updateSearch(this.value, 'big')" autofocus autocomplete="off">
        <button type="submit" style="display: none;"></button>
        <span class="input-group-append navbar-search" style="-webkit-appearance: none;"><button type="submit" class="btn btn-uva" onclick="updateSearch(document.getElementById('search_text').value, 'big')"><i class="fa fa-search my-auto"></i></button></span>
        <div class="input-group-append" style="width: 100%;">
            <ul style="width:100%;" id="results_dropdown" class="cursor-pointer dropdown-menu m-0 p-0" aria-labelledby="dropdownMenu1">
                <li id="results_books"><div id="book_results"></div></li>
                <li id="results_courses"><div id="course_results"></div></li>
                <li id="noresults">
                    <div class="py-2" style="height: 65px;">
                        <div class="row px-0 mx-0 pl-2" style="height: 100%;">
                            <div class="col-12 align-self-center" style="height: 100%; display: flex; align-items: center;">
                                <p class="my-auto"><b><i>No Results Found</i></b></p>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</form>
{% endblock %}

{% block nowrapper %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'textbook_exchange/css/buybooks.css' %}">
    <style>
        #page-container {
            min-height: 800px;
        }
    </style>
</head>

<!-- SIDEBAR FILTER -->
<div id="myFilterTab" class="filterTab" style="display: none; padding: 25px; padding-left: 10px;">
    <a href="javascript:void(0)" class="closebtn" onclick="closeToggle()">&times;</a>
    <div class="searchFilters" style="width: max-content; margin-left: 30px;" style="display: none;">
        <div class="mx-auto sidefilter-padding" style="margin-top: 0px;">
            <div class="row mx-auto" style="padding: 10px;">
                <h3 class="mb-5" style="width: 100%;">Filters</h3>
                <form method="GET">
                    <h5>Condition</h5>
                    <div class="checkboxes" style="padding-left: 20px;">
                        <input class="form-check-input" type="checkbox" value="likenew" id="likenew" checked>
                        <label class="form-check-label" for="likenew">Like new</label>
                        <br/>
                        <input class="form-check-input" type="checkbox" value="verygood" id="verygood" checked>
                        <label class="form-check-label" for="verygood">Very good</label>
                        <br/>
                        <input class="form-check-input" type="checkbox" value="" id="good" checked>
                        <label class="form-check-label" for="good">Good</label>
                        <br/>
                        <input class="form-check-input" type="checkbox" value="acceptable" id="acceptable" checked>
                        <label class="form-check-label" for="Acceptable">Acceptable</label>
                    </div>
                    <br/>
                    <hr>
                    <div class="row mt-4 mt-3">
                        <div class="col">                                        
                            <h5>Max Price</h5>
                            <input type="number" id="maxPrice" name="quantity" min="0" max="500" class="form-control" style="width:100px;">
                        </div>
                    </div>
                    <div class="row">
                        <input type="button" value="Clear" onClick="clearClick()" method="GET" class="btn btn-dark mt-5" style="margin: 15px;">
                        <input type="button" value="Apply" onClick="applyClick()" method="GET" class="btn btn-uva mt-5" style="margin: 15px 0px;">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- No Listings For This Textbook -->
{% if num_product_listings == 0 %}
<div class="container">
    <h4><b>{{ textbook.title }}</b></h4>
    <p>{{ textbook.author_clean }}</p>
    <div class="cursor-pointer align-items-center justify-content-center" data-toggle="modal" data-target="#moreInfoModalCenter">
        <p class="btn btn-uva-secondary">More info</p>
    </div>
</div>
<div class="col-12">
    <h3 class="text-center mt-5" style="width: 90%; margin: auto;">
        There are currently no listings for this textbook. Please try again later.
    </h3>
</div>

<!-- Product Listings Exist For This Textbook -->
{% elif num_product_listings > 0 %}
<!-- FILTERS (WIDE SCREEN) -->
<div id="left">
    <div class="searchFilters" id="searchFilters" style="width: max-content; padding-top: 50px;">
        <div class="mx-auto sidefilter-padding" style="margin-top: 0px;">
            <div class="row mx-auto" style="padding: 10px;">
                <form method="GET">
                    <h3 class="mb-5" style="width: 100%;">Filters</h3>
                    <h5>Condition</h5>
                    <div class="checkboxes" style="padding-left: 20px;">
                        <input class="form-check-input" type="checkbox" value="likenew" id="likenewToggle" checked>
                        <label class="form-check-label" for="likenew">Like new</label>
                        <br/>
                        <input class="form-check-input" type="checkbox" value="verygood" id="verygoodToggle" checked>
                        <label class="form-check-label" for="verygood">Very good</label>
                        <br/>
                        <input class="form-check-input" type="checkbox" value="" id="goodToggle" checked>
                        <label class="form-check-label" for="good">Good</label>
                        <br/>
                        <input class="form-check-input" type="checkbox" value="acceptable" id="acceptableToggle" checked>
                        <label class="form-check-label" for="Acceptable">Acceptable</label>
                    </div>
                    <hr>
                    <div class="row mt-4">
                        <div class="col">                                        
                            <h5 class="d-inline">Max Price</h5>
                            <br/>
                            <input type="number" id="maxPriceToggle" name="quantity" min="0" max="500" class="form-control mt-3" style="width:100px;">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <input type="button" value="Clear" onClick="clearClickToggle()" method="GET" class="btn btn-dark mt-4" style="margin: 15px;">
                        <input type="button" value="Apply" onClick="applyClickToggle()" method="GET" class="btn btn-uva mt-4" style="margin: 15px 0px;">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="right-container">
    <!-- FILTERS (MOBILE SCREEN) -->
    <div class="row mt-3 mx-auto">
        <form class="w-100 mb-5 my-2 my-lg-0 nav-search d-sm-block d-lg-none" action="{% url 'exchange:buybooks' %}" method="GET">
            <div class="input-group">
                <input name="search" type="text" class="form-control navbar-search" id="search_text_mobile" style="background-clip: unset;" placeholder="Search a book, class, ISBN, or keyword" onkeyup="updateSearch(this.value, 'small')" autofocus autocomplete="off">
                <button type="submit" style="display: none;"></button>
                <span class="input-group-append navbar-search" type='submit' style="-webkit-appearance: none;"><button type="button" class="btn btn-uva" onclick="updateSearch(document.getElementById('search_text').value, 'small')"><i class="fa fa-search my-auto"></i></button></span>
                <div class="input-group-append" style="width: 100%;">
                    <ul style="width:100%;" id="results_dropdown_mobile" class="cursor-pointer dropdown-menu m-0 p-0" aria-labelledby="dropdownMenu1">
                        <li id="results_books_mobile"><div id="book_results_mobile"></div></li>
                        <li id="results_courses_mobile"><div id="course_results_mobile"></div></li>
                        <li id="noresults_mobile">
                            <div class="py-2" style="height: 65px;">
                                <div class="row px-0 mx-0 pl-2" style="height: 100%;">
                                    <div class="col-12 align-self-center" style="height: 100%; display: flex; align-items: center;">
                                        <p class="my-auto"><b><i>No Results Found</i></b></p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </form>
    </div>
    <!-- MAIN -->
    <div id="right">
        <div class="row p20">
            <!-- SHOWING RESULTS & SORT BY -->
            <div class="showing-results mb-4" style="width: 100%;">
                <h4><b>{{ textbook.title }}</b></h4>
                <p>{{ textbook.author_clean }}</p>
                <div class="align-items-center justify-content-center">
                    <p class="cursor-pointer btn btn-uva-secondary" data-toggle="modal" data-target="#moreInfoModalCenter">More info</p>
                    <!-- SORT BY -->
                    <div class="btn-group pull-right sort-by-big">
                        <!-- SORT BY -->
                        <button type="button" class="btn btn-light btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Sort by: {{ ordering }}
                        </button>
                        <form method="GET">
                            <div class="dropdown-menu">
                                <a href="?sort=price" class="dropdown-item">Price: Low to High</a>
                                <a href="?sort=-price" class="dropdown-item">Price: High to Low</a>
                                <a href="?sort=-published_date" class="dropdown-item">Most recent</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="mb-3" style="width: 100%;">
                <!-- TOGGLE FILTER -->
                <div class="btn-group pull-left toggle-filter" id="toggle-filter" onclick="toggleFilter()" style="display: none;">
                    <button type="button" class="btn btn-uva btn-sm" style="position: initial;">
                        Filter Results
                    </button>
                </div>
                <!-- SORT BY -->
                <div class="btn-group pull-right sort-by-sm" style="display: none;">
                    <button type="button" class="btn btn-light btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Sort by: {{ ordering }}
                    </button>
                    <form method="GET">
                        <div class="dropdown-menu">
                            <a href="?sort=price" class="dropdown-item">Price: Low to High</a>
                            <a href="?sort=-price" class="dropdown-item">Price: High to Low</a>
                            <a href="?sort=-published_date" class="dropdown-item">Most recent</a>
                        </div>
                    </form>
                </div>
            </div>
            {% for listing in product_listings %}
            <div class="mb-5 w-100 crd-hidden listing-panel" id="listing" price="{{ listing.price }}" condition="{{ listing.condition }}">
                <div class="card w-100" style="margin: 0;">
                    <div class="row p-2">
                        <div class="col-12 col-md-3">
                            <div class="card-block p-2 text-center">
                                <a href="{{ listing.picture_url }}" data-type="image">
                                    <img class="card-img-top img-fluid" src="{{ listing.picture_url }}" alt="{{ listing.textbook.title }}" style="max-width: 200px; border-radius: 0;">
                                </a>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="card-block p-2">
                                <h5 class="card-title">{{ listing.textbook.title }}</h5>
                                <h6 class="card-subtitle mb-2 text-muted">{{ listing.textbook.author_clean }}</h6> 
                                <p class="card-subtitle mt-2 text-muted mb-4" style="font-size: smaller;">{{ listing.published_date }}</p>                                
                                <h6 class="card-text" style="margin-bottom: 0px;" id="post-bottom" style="display: none;">{{ listing.user.first_name }} {{ listing.user.last_name }} </h6>
                                <a class="btn btn-outline-primary btn-sm pl-2" id="post-bottom" style="display: none;" href='javascript:createTwilio("{{listing.id}}");'>Message</a>
                                <h5 class="card-text price mt-3 mb-4" style="display: none;" id="post-bottom">${{ listing.price }}</h5>
                                <p class="card-text mb-1">
                                    Condition:
                                    {% if listing.condition == "likenew" %}
                                        Like new
                                    {% elif listing.condition == "verygood" %}
                                        Very good
                                    {% elif listing.condition == "good" %}
                                        Good
                                    {% elif listing.condition == "acceptable" %}
                                        Acceptable
                                    {% endif %}
                                </p>
                                <p class="card-text mb-4">{{ listing.comments }}</p>
                            </div>
                        </div>
                        <div class="col-12 col-md-3" style="border-left: 1px;">
                            <div class="card-block p-2 mx-auto" style="width: fit-content;">
                                <h5 class="card-text price mt-2" id="post-right">${{ listing.price }}</h5>
                                <h6 class="card-text mt-3" style="margin-bottom: 0px;" id="post-right">{{ listing.user.first_name }} {{ listing.user.last_name }} </h6>
                                <a class="mt-2 mb-5 d-block btn btn-outline-primary btn-sm pl-2" style="width: 100px;" id="post-right" href='javascript:createTwilio("{{listing.id}}");'>Message</a>
                                <a href="javascript:addtoCart({{listing.id}}, '{{listing.user}}');" id="add{{listing.id}}" class="btn btn-primary mx-auto cart">Add to Cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="modal fade" id="addToCartModel" tabindex="-1" role="dialog" aria-labelledby="addToCartModelTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="addToCartModelTitle">Success</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body" id="success_message"></div>
        <div class="modal-footer">
        <button type="button" class="btn btn-uva-secondary" data-dismiss="modal" id="continueShopping">Continue Shopping</button>
        <button type="button" class="btn btn-uva" id="goToCart">Go to cart</button>
        </div>
    </div>
    </div>
</div>

<!-- NO TEXTBOOK SEARCHED -->
{% else %}
<div class="pleasesearch" style="width: 60%; margin: 100px auto;">
    <h1 class="text-center">
        Please search and select a textbook or a class in the search bar above to find listings
    </h1>
</div>
{% endif %}

    

{% if search %}
    <script>document.getElementById("search_text").value = "{{ search }}";</script>
{% endif %}

<script>

function toggleFilter() {
    document.getElementById("myFilterTab").style.width = "250px";
    // document.getElementById("buypg-container").style.marginLeft = "250px";
    document.getElementById("myFilterTab").style.marginLeft = "0px";
}

function closeToggle() {
//   document.getElementById("buypg-container").style.marginLeft = "0px";
    document.getElementById("myFilterTab").style.marginLeft = "-370px";
}

function addtoCart(id, seller_email) {
    if (seller_email == "{{myemail}}") {
        alert("Sorry, you cannot buy a book from youself.");
    }
    else {
        console.log("add to cart working");
        $.ajax({
            url : "{% url 'payments:cart' %}",
            type: "POST",
            data: { 
                id : id,
                function: "add",
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function(json) {
                if (json['status'] == 'success') {
                    document.getElementById("goToCart").onclick = function(){window.location.href = "{% url 'payments:cart' %}";};
                    document.getElementById("continueShopping").onclick = function(){window.location.reload();};
                    document.getElementById("success_message").innerHTML = json['title'] + " was added to the cart successfully.<br><br>Sold by: " + json['seller'];
                    $('#addToCartModel').modal('show');
                }   
                else if (json['status'] == 'not_logged_in') window.location.href = "{% url 'exchange:login' %}" + "?login_redirect_target=/cart/";
            },
            error: function(xhr, errmsg, err) {
                console.log("error");
            },
        });
    }
}

function clearClick() {
    event.preventDefault();

    document.getElementById('maxPrice').value = "";
    document.getElementById('likenew').checked = true;
    document.getElementById('good').checked = true;
    document.getElementById('verygood').checked = true;
    document.getElementById('acceptable').checked = true;

    $('.crd-hidden').each(function() {
        $(this).show();
    });

};

function clearClickToggle() {
    event.preventDefault();

    document.getElementById('maxPriceToggle').value = "";
    document.getElementById('likenewToggle').checked = true;
    document.getElementById('goodToggle').checked = true;
    document.getElementById('verygoodToggle').checked = true;
    document.getElementById('acceptableToggle').checked = true;

    $('.crd-hidden').each(function() {
        $(this).show();
    });

};

function applyClick() {
    event.preventDefault();

    var maxprice = document.getElementById('maxPrice').value;

    if (maxprice === "")
        maxprice = 500;
    else if (maxprice > 500)
        maxprice = 500;
    else if (maxprice < 0)
        maxprice = 0;

    var conditions_selected = [];
    if (document.getElementById('likenew').checked == true)
        conditions_selected.push("likenew");
    if (document.getElementById('verygood').checked == true)
        conditions_selected.push("verygood");
    if (document.getElementById('good').checked == true)
        conditions_selected.push("good");
    if (document.getElementById('acceptable').checked == true)
        conditions_selected.push("acceptable");

    $('.crd-hidden').each(function() {
        $(this).show();

        var listing_condition = $(this).attr("condition");
        var listing_price = parseInt($(this).attr('price'));

        if ($(this).attr('id') == "listing") {
            if (listing_price > maxprice) // (this) == i in for loop
                $(this).hide();
            if (!conditions_selected.includes(listing_condition))
                $(this).hide();
        }
    });

};
function applyClickToggle() {
    event.preventDefault();

    var maxprice = document.getElementById('maxPriceToggle').value;

    if (maxprice === "")
        maxprice = 500;
    else if (maxprice > 500)
        maxprice = 500;
    else if (maxprice < 0)
        maxprice = 0;

    var conditions_selected = [];
    if (document.getElementById('likenewToggle').checked == true)
        conditions_selected.push("likenew");
    if (document.getElementById('verygoodToggle').checked == true)
        conditions_selected.push("verygood");
    if (document.getElementById('goodToggle').checked == true)
        conditions_selected.push("good");
    if (document.getElementById('acceptableToggle').checked == true)
        conditions_selected.push("acceptable");

    $('.crd-hidden').each(function() {
        $(this).show();

        var listing_condition = $(this).attr("condition");
        var listing_price = parseInt($(this).attr('price'));

        if ($(this).attr('id') == "listing") {
            if (listing_price > maxprice) // (this) == i in for loop
                $(this).hide();
            if (!conditions_selected.includes(listing_condition))
                $(this).hide();
        }
    });

};

function truncateString(str, num) {
    // If the length of str is less than or equal to num
    // just return str--don't truncate it.
    if (str.length <= num) {
        return str;
    }
    // Return str truncated with '...' concatenated to the end of str.
    return str.slice(0, num)+"...";
}

function createTwilio(id, u1, u1_first, u1_last, title) {
    console.log(u1);
    {% if user.is_authenticated %}
        window.location.href = "{% url 'exchange:twilio' %}?listing_id="+id;
    {% else %}
        window.location.href = "{% url 'exchange:login' %}" + "?login_redirect_target=" + window.location.href;
    {% endif %}
}

</script>


<div class="modal fade" id="moreInfoModalCenter" tabindex="-1" role="dialog" aria-labelledby="scanModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="moreInfoModalLongTitle">More Info</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <tbody>
                        <tr>
                            <th scope="row">Bookstore ISBN</th>
                            <td>{{ textbook.bookstore_isbn }}</td>
                        </tr>
                        <tr>
                            <th scope="row">ISBN-10</th>
                            <td>{{ textbook.isbn10 }}</td>
                        </tr>
                        <tr>
                            <th scope="row">ISBN-13</th>
                            <td>{{ textbook.isbn13 }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Bookstore New</th>
                            <td>{% if textbook.bookstore_new_price == 0.0 %}Not available{% else %}${{ textbook.bookstore_new_price }}{% endif %}</td>
                        </tr>
                        <tr>
                            <th scope="row">Bookstore Used</th>
                            <td>{% if textbook.bookstore_used_price == 0.0 %}Not available{% else %}${{ textbook.bookstore_used_price }}{% endif %}</td>
                        </tr>
                        <tr>
                            <th scope="row">Page Count</th>
                            <td>{{ textbook.page_count }} pages</td>
                        </tr>
                        <tr>
                            <th scope="row">Publisher</th>
                            <td>{{ textbook.publisher }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Date Published</th>
                            <td>{{ textbook.date }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>   
    </div>
</div>

{% endblock nowrapper %}
