<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>    
<script src="https://media.twiliocdn.com/sdk/js/common/v0.1/twilio-common.min.js"></script>
<script src="https://media.twiliocdn.com/sdk/js/chat/v3.0/twilio-chat.min.js"></script>

<script>
      
    // Our interface to the Chat service
    var chatClient;
  
    // A handle to the "general" chat channel - the one and only channel we
    // will have in this sample app
    var generalChannel;
  
    // The server will assign the client a random username - store that value
    // here
    var username;
      
    // Get an access token for the current user, passing a username (identity)
    // and a device ID - for browser-based apps, we'll always just use the
    // value "browser"
    $.getJSON('/token', {
      device: 'browser'
    }, function(data) {
  
      // Initialize the Chat client
      Twilio.Chat.Client.create(data.token).then(client => {
        console.log('Created chat client');
        chatClient = client;
        chatClient.on('channelInvited', function(channel) {
          console.log('Invited to channel ' + channel.friendlyName);
          if(channel.state.status !== "joined") 
            channel.join().then(function(channel) {
              console.log("joined channel" + channel.friendlyName);
                redirect(channel.uniqueName);
            });
        });
        chatClient.getSubscribedChannels().then(createOrJoinGeneralChannel);
        // Alert the user they have been assigned a random username
        username = data.identity;
  
      }).catch(error => {
        console.error(error);
      });
    });
  
    function createOrJoinGeneralChannel() {
      var uniqueChannelName = '{{seller_user}}' + '{{user.username}}' + '{{listing_id}}';

      // Get the general chat channel, which is where all the messages are
      // sent in this simple application
      console.log('finding or creating ' + uniqueChannelName);
      chatClient.getChannelByUniqueName(uniqueChannelName)
      .then(function(channel) {
        generalChannel = channel;
        console.log('Found a channel: ');
        redirect(uniqueChannelName);
      }).catch(function() {
        // If it doesn't exist, let's create it
        console.log('Creating channel ' + uniqueChannelName + '\n{{book_name}}');

        chatClient.createChannel({
          uniqueName: uniqueChannelName,
          friendlyName: '{{ seller_first }} {{ seller_last }}{{ user.first_name }} {{user.last_name}}: {{ book_name }}',
          isPrivate: false
        }).then(function(channel) {
            channel.invite('{{ seller_user }}').then(function() {
                console.log("Invitation sent!")
            }).catch(function(e) {
                console.error(e);
            });
            channel.invite('{{ user.username }}').then(function() {
                console.log("Invitation sent!")
            }).catch(function(e) {
                console.error(e);
            });
        }).catch(function(e) {
          console.log('Channel could not be created:');
          //console.log(e);
        });
      });
    }
  
    // Set up channel after it has been found
    function redirect(cname) {
      window.location = '{% url "exchange:channel" %}?channel_name='+cname;
    }

    

  </script>