{% extends 'textbook_exchange/account_base.html' %}
{% load static %} 

{% block content %}
<style>
    h4, p {
        max-width: 600px;
    }
    @media only screen and (max-width: 770px){
        .container {
            margin-top: 0;
        }
    }
    @media only screen and (max-width: 767px){
        .padding-top30 {
            padding-top: 0;
        }
    }
</style>
<div class="container padding-top30">
    <h1 class="mb-5">Frequently Asked Questions</h1>
    <div id="accordion">
        <div class="card">
            <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                Why won't my textbook appear in the searchbar?
                </button>
            </h5>
            </div>

            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                To stay up-to-date and help students quickly find the textbooks they need,
            our site only lists textbooks taught at UVA for the current semester.
            If your textbook does not appear in the searchbar, it may not be used in this semester's classes.
            Additionally, we do not have the ability to sell eBooks and access codes, which some classes may require.
            </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Why won't my class appear in the searchbar?
                </button>
            </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
                Our site only lists the textbooks and courses provided by the UVA Bookstore Web List,
            so this book may not be registered in the bookstore and thus on our website.
            </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Why won't my class's textbooks appear when I search it?
                </button>
            </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
                This class may only need ebooks, access codes or a combination of an access code and a textbook,
            which our site does not provide. We only allow the selling of physical textbooks.
            If you need an ebook, try this website: 
            <a href="https://uvabookstores.redshelf.com/">
                https://uvabookstores.redshelf.com/
            </a>.
            </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingFour">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                I just saw a book in the buy page! Where did it go?
                </button>
            </h5>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
            <div class="card-body">
                When someone adds a book to their cart, it is removed from the available book listings. Someone 
            else might have bought it first. Sorry! Don't worry though, once an item is added to someone's cart
            they have 15 minutes to finish the checkout process or it will be removed from their cart.
            </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingFive">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                The cart does not include shipping. How would I receive the book?
                </button>
            </h5>
            </div>
            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
            <div class="card-body">
                Based off comprehensive feedback, we found that most UVA students preferred to meet with 
            the other student face to face when buying and selling the textbook. 
            After (or before) purchasing the textook, just message the seller to decide when and where 
            to meet to exchange the textbook! We suggest meeting during the daytime in public places, such
            as the Lawn and other places on Grounds. 
            </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingSix">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                What protections do I have as a buyer if the seller is unresponsive or lies about the textbook?
                </button>
            </h5>
            </div>
            <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
            <div class="card-body">
                We don't want anyone to be scammed. As a result, we have an escrow system in place. After placing
            an order, the buyer has two weeks to raise concerns such as "I never got my textbook!" and "This textbook
            is not in as good of condition as I was told!". During this time the money has not been given to the seller
            yet, and if you return the textbook to the seller or demonstrate to us that you never received it, you will get all your money back.  
            </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingSeven">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                I just sold a textbook, where is my money?
                </button>
            </h5>
            </div>
            <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
            <div class="card-body">
                We don't want anyone to be scammed. As a result, we have an escrow system in place. After placing
            an order, the buyer has two weeks to raise concerns such as "I never got my textbook!" and "This textbook
            is not in as good of condition as I was told!". During this time the money has not been given to the seller
            yet. After the two weeks has passed, the money will be credited to your account and you may cash out.
            </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingEight">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                I have a problem with my order! How do I fix it?
                </button>
            </h5>
            </div>
            <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordion">
            <div class="card-body">
            If you have a problem with your order for any reason, don't hesitate to use the <a href="{% url 'exchange:contact_us' %}">Contact Us</a> form!
            We will be in contact within 48 hours about next steps and what to expect!
            </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}