{% extends 'textbook_exchange/account_base.html' %}
{% load static %} 

{% block content %}
<style>
    h4, p {
        max-width: 600px;
    }
    @media only screen and (max-width: 770px){
        .container {
            margin-top: 0;
        }
    }
    @media only screen and (max-width: 767px){
        .padding-top30 {
            padding-top: 0;
        }
    }
</style>
<div class="container padding-top30">
    <h1 class="mb-5">Frequently Asked Questions</h1>
    <br/>
    <div>
        <h4 class="mb-4">Why won't my textbook appear in the searchbar?</h3>
        <p class="mb-5">
            To stay up-to-date and help students quickly find the textbooks they need,
            our site only sells textbooks taught at UVA for the current semester.
            If your textbook does not appear in the searchbar, it may not be used in this semester's classes.
            Additionally, we do not have the ability to sell eBooks and access codes, which some classes may require.
        </p>
        <br/>
    </div>
    <div>
        <h4 class="mb-4">I just saw a book in the buy page! Where did it go?</h3>
        <p class="mb-5">
            When someone adds a book to their cart, it is removed from the available book listings. Someone 
            else might have bought it first. Sorry! Don't worry though, once an item is added to someone's cart
            they have 15 minutes to finish the checkout process or it will be removed from their cart.
        </p>
        <br/>
    </div>
    <div>
        <h4 class="mb-4">The cart does not include shipping. How would I receive the book?</h3>
        <p class="mb-5">
            Based off comprehensive feedback, we found that most UVA students preferred to meet with 
            the other student face to face when buying and selling the textbook. 
            After (or before) purchasing the textook, just message the seller to decide when and where 
            to meet to exchange the textbook! We suggest meeting during the daytime in public places, such
            as the Lawn and other places on Grounds. 
        </p>
        <br/>
    </div>
    <div>
        <h4 class="mb-4">What protections do I have as a buyer?</h3>
        <p class="mb-5">
            We don't want anyone to be scammed. As a result, we have an escrow system in place. After placing
            an order, the buyer has two weeks to raise concerns such as "I never got my textbook!" and "This textbook
            is not in as good of condition as I was told!". During this time the money has not been given to the seller
            yet, and if you return the textbook to the seller, you will get all your money back. 
        </p>
        <br/>
    </div>
</div>
{% endblock %}