{% extends 'textbook_exchange/base.html' %}
{% load static %} 

{% block content %}
<style>
    @media screen and (max-width: 991px) and (min-width: 768px) {
        .welcome {
            font-size: 37px;
        }
        .desc {
            font-size: 21px;
            width: 90% !important;
        }
        .col-md-8 {
            padding-left: 0 !important;
        }
    }
    @media only screen and (max-width: 991px){
        .padding-top50 {
            padding: 10px !important;
        }
    }
    @media only screen and (max-width: 767px){
        .padding-top30, .desc {
            text-align: center !important;
            margin: auto !important;
        }
        .desc {
            width: 100% !important;
        }

    }
</style>

<div class="row padding-top30">
    <div class="col-md-8">
        <h1 class="mb-5 welcome">Welcome to UVA TextEx!</h1>
        <h4 class="p-font desc" style="width: 80%">
            Here, students can buy and sell textbooks through a quick and clean exchange. 
            We offer every physical textbook taught in this semester's classes.
            <br/><br/>
            Click one of these buttons to get started on your journey, or just start searching for a textbook above!
        </h4>
    </div>
    <div class="col-md-4">
        <div style="margin: 50px 0;" style=""><a class="btn btn-uva btn-lg d-flex justify-content-center" href="{% url 'exchange:buybooks' %}">Buy Books</a></div>
        <div style="margin: 0px 0;"><a class="btn btn-uva-secondary btn-lg d-flex justify-content-center" href="{% url 'exchange:sellbooks' %}">Sell Books</a></div>
    </div>
</div>
{% endblock %}
