{% extends 'textbook_exchange/base.html' %}
{% load static %} 

{% block content %}
<style>
    /*.row {
        padding-top: 100px;
    }*/
    @media only screen and (max-width: 770px){
        .container {
            margin-top: 0;
        }
        .row {
            padding-top: 0;
        }
    }
</style>

<div class="row">
    <div class="col-sm-8">
        <h1 class="bigblurb">Welcome to UVA TextEx!</h1>
        <h3 class="smallblurb">Click one of these buttons to get started on your journey, or just start searching at the top! We offer every textbook available from the bookstore.</h3>
    </div>
    <div class="col-sm-4">
        <p class="btn btn-uva btn-lg d-flex text-center" style="margin: 5px 10%; border-radius: 0px;">
            <a class="mx-auto btn-uva"  href="{% url 'exchange:buybooks' %}">
                Buy Books
            </a>
        </p>
        <p class="btn btn-uva-secondary btn-lg d-flex text-center" style="margin: 5px 10%; border-radius: 0px;">
            <a class="mx-auto btn-uva-secondary"  href="{% url 'exchange:sellbooks' %}">
                Sell Books 
            </a>
        </p>
    </div>
    
 </div>
 {% endblock %}
