<!-- https://stackoverflow.com/questions/39050820/best-dry-way-to-show-the-same-html-block-in-multiple-django-template-files -->
<!-- https://stackoverflow.com/questions/9472034/how-to-make-a-reusable-template-in-django -->

{% for product_listing in textbook_exchange.product_listings_set.all %}
    <!-- how to get foreign key (title)? (rename h5 value) -->
    <h5 name="product_listing id="product_listing{{ forloop.counter }}" value="{{ product_listing.id }}"></h5>
    <ul>
        <li>${{ product_listing.price }}</li><br>
        <li>{{ product_listing.condition }}</li><br>
        <li>{{ product_listing.comments }}</li><br>
        <li>{{ product_listing.published_date }}</li><br>
    </ul>
{% endfor %}