<!-- https://stackoverflow.com/questions/9472034/how-to-make-a-reusable-template-in-django -->

{% for textbook_listing in textbook_listings_set.all %}
    <!-- how to get foreign key (class)?  -->
    <h5 name="textbook_listing id="textbook_listing{{ forloop.counter }}" value="{{ textbook_listing.title }}"></h5>
    <ul>
        <li>{{ textbook_listing.class_key }}</li><br>
        <li>{{ textbook_listing.title }}</li><br>
        <li>{{ textbook_listing.author }}</li><br>
        <li>{{ textbook_listing.edition }}</li><br>
        <li>{{ textbook_listing.isbn }}</li><br>
    </ul>
{% endfor %}