@media (max-width: px) {
    #searchFilters {
        width: max-content; 
        /* delete from html */
    }
    .sidefilter-padding {
        margin-top: 0px;
    }

}
@media (min-width: px) {
    #searchFilters {
        width: 100%;
    }
    .sidefilter-padding {
        margin-top: 15px;
    }

}