.custom-header {
	margin-bottom: 15px;
}
.right-container {
	padding-left: 50px;
}
.buy-error-msg {
	height: 287px;
    padding: 90px 25px;
    font-size: 3vw;
}

/* GRID LAYOUT */
.grid {
	margin: 1em auto;
	display: grid;
	grid-template-columns: minmax(150px, 190px) 1fr;
}

/* CARDS/PANELS */
.card {
	margin: 15px;
}
.card-title {
	margin: 5px 0 0 0;
}

/* SIDEBAR */
.col-4-bg{
	background-color: var(--uva-blue);
	min-width: 175px;
	height: fit-content;
}
.sidebar-align {
  list-style-type:none;
}
.side-btn {
	margin: 3px 10px;
}